main {
  width: 100%;
}

/**
 NAV STYLES
*/

.nav {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
